<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div id="navigation">
    <ul>
      <li><a class="active" href="/">Home</a></li>
        <li><a href="/game">Add Game</a></li>
        <li><a href="/music">Add Music</a></li>
        <li><a href="/game/greatest">Most Reviewed Game</a></li>
        <li><a href="/music/greatest">Most Reviewed Music</a></li>
        <li><a href="/game/best">Highest Rated Game</a></li>
        <li><a href="/music/best">Highest Rated Music</a></li>
        <li><a href="/music/random">Random Music</a></li>
        <li style="float:right"><a class="active" href="/about">About</a></li>
    </ul>
</div>

<body>
  {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    $('#SearchGame').keyup(function(){
      $(".garticle_container").remove();
      var game = $("#SearchGame").val();
      if(game == '') {
        location.reload();
      }
      $.get("/api/gamereviews", function(result){
        $.each(result, function(index, element) {
          if(element['title'].includes(game)){
            $("#gameCol").append("<article class=\"garticle_container\"><h2 class=\"title\">"+element['title']+"</h2><h4 class=\"name\">By: "+element['company']+", "+element['year']+"</h4><hr><div class=\"tags\">"+element['genre']+"</div></article>");
          }
        });
      });
    });
    $('#SearchMusic').keyup(function() {
      $(".marticle_container").remove();
      var music = $("#SearchMusic").val();
      if(music == '') {
        location.reload();
      }
      $.get("/api/musicreviews", function(result){
        $.each(result, function(index, element) {
          if(element['title'].includes(music)){
            $("#musicCol").append("<article class=\"marticle_container\"><h2 class=\"title\">"+element['title']+"</h2><h4 class=\"name\">By: "+element['composer']+", "+element['year']+"</h4><hr><div class=\"tags\">"+element['genre']+"</div></article>");
          } else {
            $("#musicCol").append("<h1>No Match!</h1>");
          }
        });
      });
    });
  </script>
</body>

</html>
