<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/game">Add Game</a></li>
        <li><a href="/Sports">Add Game Review</a></li>
        <li><a href="/music">Add Music</a></li>
        <li><a href="/Alphabetical">Add Music Review</a></li>
        <li><a href="/Championships">Game Tags</a></li>
        <li><a href="/Championships">Music Tags</a></li>
    </ul>
</div>

<body>
  <h1>Welcome</h1>
  <br>
  <div class="row">
    <div class="column">
      <input type="text" id="SearchGame" placeholder="Enter a Game">
      <br>
    </div>
    <div class="column">
      <input type="text" id="SearchMusic" placeholder="Enter a Music">
      <br>
    </div>
  </div>
  {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    $('#createNew').on('click', function() {
      console.log("hi");
    });
    $('#SearchGame').keyup(function(){

    });
    $('#SearchMusic').keyup(function(){

    });
  </script>
</body>

</html>
