<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
    <ul>
        <li><a href="/Players">Players</a></li>
        <li><a href="/Sports">Sports</a></li>
        <li><a href="/States">States</a></li>
        <li><a href="/Alphabetical">Alphabetical</a></li>
        <li><a href="/Championships">Championships</a></li>
    </ul>
</div>

<body>
  <button type="button" id="createNew">Enter a Team</button> {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    $('#createNew').on('click', function() {
      console.log("hi");
    });
  </script>
</body>

</html>
