<h1>Add New Game to Database</h1>
<article>
    <form method="POST" action="/game">
        <div class="input-field">
            <label>Title:</label>
            <input type="text" name="title" size="50" placeholder="Minesweeper">
        </div>
         <div class="input-field">
            <label>Genre:</label>
            <input type="text" name="genre" size="50" placeholder="Genre1 Genre2 Genre3">
        </div>
        <div class="input-field">
           <label>Year:</label>
           <input type="number" name="year" min="0" max="2019" placeholder="Date">
       </div>
        <div class="input-field">
            <label>Company:</label>
            <input type="text" name="company" size="50" placeholder="Microsoft">
        </div>
        <button type="submit" id="gEmit">Create Game</button>
    </form>
</article>
